.App {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  border: 1px solid #ccc;
  margin: 0.5vh 0.5vw;
  height: 100px;
}


.list-item span {
  margin: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
